<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>留言</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
	
	<h3>留言</h3>

	{% if err %}
		<dir>{{ err }}</dir>
	{% endif %}
	<form action="/app/create/" method="POST">
		{% csrf_token %}
		<label>用户名：</label>
		<input type="text" name="username" value="{{ username }}">
		<br>

		<label>标题：</label>
		<input type="text" name="title" value="{{ title }}">
		<br>

		<label>内容：</label>
		<input type="text" name="content" value="{{ content }}">
		<br>

		<input type="submit" value="留言">
	</form>
</body>
</html>