<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        崩坏广场 | 登陆
    </title>
    {% include 'auth/login/include/style_css.html' %}
</head>
<body class="hold-transition login-page inner-container">
    <div class="login-box">

        <div class="login-logo">
            <a href=""><b>崩坏广场</b>留言板</a>
        </div>


        <div class="login-box-body">
            <p class="login-box-msg font">
                欢迎使用 崩坏广场
            </p>

            <form id="login-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                
                {% include 'auth/login/include/auth_login_form_userpass.html' %}

                {% include 'auth/login/include/auth_login_form_error.html' %}

                <div class="row">                   
                    <div class="col-xs-6">
                        <div class="checkbox icheck" style="margin-top: 0;">
                            <label for="keep">
                                <input id="keep" type="checkbox"> 保持登录状态
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6">
                        <a class="pull-right icheck" href="">
                            忘记密码？
                        </a>
                    </div>
                </div>
                
                <div class="row" style="margin-top: 10;">
                    <div class="col-xs-12">
                        <button id="login-button icheck" class="btn btn-primary btn-block btn-flat ajax">
                            登录
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="ajax-content">
                </div>

            </form>

            <br>
            <a class="text-center pull-left" href="{% url 'register' %}" style="margin-top: -15px;">
                注册新账号  
            </a>
            
            <!--Register a new membership-->
        </div>
        <!-- /.login-box-body -->
    </div>
    {% include 'auth/login/include/auth_body.html' %}
</body>

</html>